# CGE temp
castle-engine-output

# Lazarus temp/backup files
2d_game/lib/
first_3d_application/lib/
fps_game/lib/
backup/
*.lps

# Windows binaries
*.exe

# Unix binaries
project1
2d_game_android_and_desktop/example_2d_game

# other
*.res
*.blend1
*.apk
*.o
*.ppu
*.so
